@import "partials/playing-cards";
@import "partials/cards";
@import "partials/colors";
@import "partials/hand";

html, body {
  height: 100%;
}

footer {
  height: 50px;
}

.navbar {
  margin-bottom: 15px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

#push, footer {
  height: 60px;
}

.instructions .popover {
  max-width: 500px;
}

.about {
  margin: 10px 0;
}

.content {
  border-right: 1px #dddddd solid;
  border-left: 1px #dddddd solid;
  border-bottom: 1px #dddddd solid;
  padding: 10px;
}

.auction {
  padding-bottom: 20px;
}

@media (max-width: 979px) {
  .cards {
    font-size: 5px;
  }
}
