When you raise partner's major and that suit becomes trump, you will be the dummy.
If you have a short suit (or two), here is the correct way to add points:

<ul>
  <li>Doubleton - 1 point for each one</li>
  <li>Singleton - 2 points, but 3 points with 4+ trumps</li>
  <li>Void - # trumps in dummy hand</li>
</ul>

Number of total points cannot be bigger than number of trump cards.
