<div class="panel panel-default">
  <div class="panel-heading">About</div>
  <div class="panel-body">
    <p>Counting points in contract bridge is the first thing to learn for anyone. This technique is based on book by <a href="http://en.wikipedia.org/wiki/Marty_A._Bergen">Marty Bergen</a>, where he says:</p>
    <blockquote>
      <p>Simple five steps that will help you evaluate cards in your hand more accurately, which will enable you to reach more good contracts.</p>
      <small><cite>Slam Bidding Made Easier</cite></small>
    </blockquote>
  </div>
</div>
