<ol>
  <li>Count your underrated honors: number of Aces and Tens</li>
  <li>Count your overrated honors: number of Jacks and Queens (Kings are excluded)</li>
  <li>Subtract the smaller from the larger</li>
  <li>Consider the difference: If the value is 0-2, no adjustment is required. If the value is 3-5 adjust by 1. If the value is 6+ (rare), adjust by 2</li>
  <li> If you have more underrated honors your adjustment is positive add 0, 1 or 2 points. If the overrated honors are more, you adjust by subtracting the difference (0, 1, or 2)</li>
</ol>
