<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bridge Points</a>
    </div>
  </div>
</nav>

<ul class="nav nav-tabs">
  <li {{bind-attr class="isStarterRoute:active"}}>{{#link-to "index"}}Starter points{{/link-to}}</li>
  <li {{bind-attr class="isDummyRoute:active"}}>{{#link-to "dummy-index"}}Dummy points{{/link-to}}</li>
</ul>

<div class="content">
  {{outlet}}
</div>
